<h2>Créditos</h2>
<div id="creditos-container">
  <div id="creditos">
    <strong>Comitê Gestor de Dados</strong>
    <ul>
      <li *ngFor="let item of comiteGestor">{{ item }}</li>
    </ul>
    <br>
    <strong>Servidores da Área Administrativa</strong>
    <ul>
      <li *ngFor="let item of servidoresAdministrativos">{{ item }}</li>
    </ul>
    <br>
    <strong>Servidores da Área Judicial</strong>
    <ul>
      <li *ngFor="let item of servidoresJudiciais">{{ item }}</li>
    </ul>
  </div>
</div>
