<div class="page">
  <header class="header">
    <img src="../../../assets/logos/unidata-removebg.png" alt="Logo Unidata" class="logo white-img">
    <img src="../../../assets/logos/opalalab2.png" alt="Logo Opala" class="logo">
  </header>

  <main class="main-content" *ngIf="!isSmallScreen">
    <div class="left-column">
      <div id="menu">

        <div class="sec1 sec" (mouseenter)="changeText(0)" (mouseleave)="resetText()">
          <div class="double-item">
            <div class="item1 item"></div>
            <div class="item2 item"></div>
          </div>

          <div class="content">
            <mat-icon>
              build
            </mat-icon>
            <span>
              Testando
            </span>
          </div>
        </div>

        <div class="sec2 sec" (mouseenter)="changeText(1)" (mouseleave)="resetText()">
          <div class="double-item">
            <div class="item3 item"></div>
            <div class="item4 item"></div>
          </div>

          <div class="content">
            <mat-icon>
              build
            </mat-icon>
            <span>
              Testando
            </span>
          </div>
        </div>

        <div class="sec3 sec" (mouseenter)="changeText(2)" (mouseleave)="resetText()">
          <div class="double-item">
            <div class="item5 item"></div>
            <div id="wrapper6">
              <div class="item6 item"></div>
            </div>
          </div>

          <div class="content">
            <mat-icon>
              build
            </mat-icon>
            <span>
              Testando
            </span>
          </div>
        </div>

        <div id="center">
          <img src="../../../assets/logos/unidata.jpeg" alt="">
        </div>
      </div>

      <div id="border"></div>
    </div>

    <div class="right-column">
      <div class="upper-container">
        <h2>{{ currentTitle }}</h2>
        <p>{{ currentText }}</p>
      </div>

      <div class="lower-container">
        <h2>Links úteis</h2>
        <div class="buttons-container">
          <a href="https://www.cnj.jus.br/pesquisas-judiciarias/justica-em-numeros/" target="_blank">
            <div class="btn-icon-wrapper">
              <mat-icon>description</mat-icon>
            </div>
            <div class="btn-name-wrapper">
              <span> Relatórios Analíticos e Sumários Executivos</span>
            </div>
          </a>

          <a href="https://www.cnj.jus.br/sistemas/datajud/" target="_blank">
            <div class="btn-icon-wrapper">
              <mat-icon class="material-symbols-outlined">database</mat-icon>
            </div>
            <div class="btn-name-wrapper">
              <span>Base Nacional de Dados do Poder Judiciário</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>

  <main class="content-small-screen" *ngIf="isSmallScreen">
    <div class="menu-cards">
      <div class="small-card">
        <mat-icon>group</mat-icon>
        <span>Estrutura de Pessoal</span>
      </div>
      <div class="small-card">
        <mat-icon>trending_up</mat-icon>
        <span>Produtividade</span>
      </div>
      <div class="small-card">
        <mat-icon>grade</mat-icon>
        <span>Prêmios de Qualidade</span>
      </div>
      <div class="small-card">
        <mat-icon>attach_money</mat-icon>
        <span>Orçamentos</span>
      </div>
      <div class="small-card">
        <mat-icon>account_balance</mat-icon>
        <span>Patrimônio</span>
      </div>
      <div class="small-card">
        <mat-icon>assignment</mat-icon>
        <span>Plano de Gestão</span>
      </div>
      <div class="small-card">
        <mat-icon>gavel</mat-icon>
        <span>Contratos e Licitações</span>
      </div>
      <div class="small-card">
        <mat-icon>build</mat-icon>
        <span>Obras</span>
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>&copy; 2024, Tribunal de Justiça do Piauí - Todos os direitos reservados.</p>
    <p>Desenvolvido pelo Laboratório de Inovação do TJPI</p>
  </footer>
</div>
