<div class="page">
  <header class="header">
    <img src="../../../assets/logos/unidata-removebg.png" alt="Logo Unidata" class="logo white-img">
    <img src="../../../assets/logos/opalalab2.png" alt="Logo Opala" class="logo">
  </header>

  <main class="main-content" *ngIf="!isSmallScreen">
    <div class="left-column">
      <div id="menu">
        <div class="sec1 sec">
          <div class="double-item">
            <div class="item1 item" (mouseenter)="changeText(0)" (mouseleave)="resetText()"></div>
            <div class="item2 item" (mouseenter)="changeText(0)" (mouseleave)="resetText()"></div>
          </div>
          <div class="content" (mouseenter)="changeText(0)" (mouseleave)="resetText()">
            <mat-icon>trending_up</mat-icon>
            <span>
              Metas e Indicadores
            </span>
          </div>
        </div>
        <div class="sec2 sec">
          <div class="double-item">
            <div class="item3 item" (mouseenter)="changeText(1)" (mouseleave)="resetText()"></div>
            <div class="item4 item" (mouseenter)="changeText(1)" (mouseleave)="resetText()"></div>
          </div>
          <div class="content" (mouseenter)="changeText(1)" (mouseleave)="resetText()">
            <mat-icon>settings</mat-icon>
            <span>
              Gestão Processual
            </span>
          </div>
        </div>
        <div class="sec3 sec">
          <div class="double-item">
            <div class="item5 item" (mouseenter)="changeText(2)" (mouseleave)="resetText()"></div>
            <div class="item6 item" (mouseenter)="changeText(2)" (mouseleave)="resetText()"></div>
          </div>
          <div class="content" (mouseenter)="changeText(2)" (mouseleave)="resetText()">
            <mat-icon>people</mat-icon>
            <span>
              Gestão de Pessoas
            </span>
          </div>
        </div>
        <div id="center">
          <img src="../../../assets/logos/unidata.jpeg" alt="">
        </div>
      </div>
      <div id="border"></div>
    </div>
    <div class="right-column">
      <div class="upper-container">
        <h2>{{ currentTitle }}</h2>
        <p>{{ currentText }}</p>
      </div>
      <div class="lower-container">
        <h2>Nome do Container</h2>
        <div class="buttons-container">
          <mat-form-field>
            <mat-label>Escolha a Instância</mat-label>
            <mat-select [(value)]="selectedInstancia" (selectionChange)="onInstanciaChange($event.value)">
              <mat-option [value]="null">-</mat-option>
              <mat-option *ngFor="let instancia of uniqueInstancias" [value]="instancia">
                <mat-divider style="width: 11rem; margin-top: .5rem;"></mat-divider>
                {{ instancia }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Orgão Julgador {{filteredOrgaos.length}}</mat-label>
            <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="selectedOrgao" (input)="filterOrgaos()">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOrgaoChange($event.option.value)">
              <mat-option [value]="orgao.ORG_JULGADOR" *ngFor="let orgao of filteredOrgaos">
                <mat-divider style="width: 11rem; margin-top: .5rem;"></mat-divider>
                {{ orgao.ORG_JULGADOR }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="saveSelections()">Ok</button>
          <button mat-raised-button color="warn" (click)="clearSelections()">Limpar</button>
        </div>
      </div>
    </div>
  </main>

  <main class="content-small-screen" *ngIf="isSmallScreen">
    <div class="menu-cards">
      <div class="small-card">
        <mat-icon>group</mat-icon>
        <span>Estrutura de Pessoal</span>
      </div>
      <div class="small-card">
        <mat-icon>trending_up</mat-icon>
        <span>Produtividade</span>
      </div>
      <div class="small-card">
        <mat-icon>grade</mat-icon>
        <span>Prêmios de Qualidade</span>
      </div>
      <div class="small-card">
        <mat-icon>attach_money</mat-icon>
        <span>Orçamentos</span>
      </div>
      <div class="small-card">
        <mat-icon>account_balance</mat-icon>
        <span>Patrimônio</span>
      </div>
      <div class="small-card">
        <mat-icon>assignment</mat-icon>
        <span>Plano de Gestão</span>
      </div>
      <div class="small-card">
        <mat-icon>gavel</mat-icon>
        <span>Contratos e Licitações</span>
      </div>
      <div class="small-card">
        <mat-icon>build</mat-icon>
        <span>Obras</span>
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>&copy; 2024, Tribunal de Justiça do Piauí - Todos os direitos reservados.</p>
    <p>Desenvolvido pelo Laboratório de Inovação do TJPI</p>
  </footer>
</div>
