<div class="page">
  <header class="header">
    <div class="main-logo-container">
      <img src="../../../assets/logos/tjpi.png" alt="Logo Unidata" class="logo">
      <div class="main-logo-text">
        <span class="text-1">Tribunal de Justiça do Piauí</span>
        <span class="text-2">Poder Judiciário do Estado do Piauí</span>
      </div>
    </div>

    <span class="page-name">
      Judicial
    </span>
  </header>

  <main class="main-content" *ngIf="!isSmallScreen">
    <div class="left-column">
      <div id="menu">
        <div class="sec1 sec">
          <div class="double-item">
            <div class="item1 item" (mouseenter)="changeText(0)" (mouseleave)="resetText()"></div>
            <div class="item2 item" (mouseenter)="changeText(0)" (mouseleave)="resetText()"></div>
          </div>
          <div class="content" (mouseenter)="changeText(0)" (mouseleave)="resetText()">
            <mat-icon>trending_up</mat-icon>
            <span>
              Metas e Indicadores
            </span>
          </div>
        </div>
        <div class="sec2 sec">
          <div class="double-item">
            <div class="item3 item" (mouseenter)="changeText(1)" (mouseleave)="resetText()"></div>
            <div class="item4 item" (mouseenter)="changeText(1)" (mouseleave)="resetText()"></div>
          </div>
          <div class="content" (mouseenter)="changeText(1)" (mouseleave)="resetText()">
            <mat-icon>settings</mat-icon>
            <span>
              Gestão Processual
            </span>
          </div>
        </div>
        <div class="sec3 sec">
          <div class="double-item">
            <div class="item5 item" (mouseenter)="changeText(2)" (mouseleave)="resetText()"></div>
            <div class="item6 item" (mouseenter)="changeText(2)" (mouseleave)="resetText()"></div>
          </div>
          <div class="content" (mouseenter)="changeText(2)" (mouseleave)="resetText()">
            <mat-icon>people</mat-icon>
            <span>
              Gestão de Pessoas
            </span>
          </div>
        </div>
        <div id="center">
          <img src="../../../assets/logos/unidata-novo.jpeg" alt="Logo Unidata" class="logo">
        </div>
      </div>
      <div id="border"></div>
    </div>
    <div class="right-column">
      <div class="upper-container">
        <h2>{{ currentTitle }}</h2>
        <p>{{ currentText }}</p>
      </div>

      <div class="lower-container">
        <h2>Filtragem</h2>
        <div class="filter-container">
          <div class="select-container">
            <mat-form-field class="form-1" appearance="outline">
              <mat-label>Instância</mat-label>
              <mat-select [(value)]="selectedInstancia" (selectionChange)="onInstanciaChange($event.value)">
                <mat-option [value]="null">*</mat-option>
                <mat-option *ngFor="let instancia of uniqueInstancias" [value]="instancia">
                  {{ instancia }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-2" appearance="outline">
              <mat-label>Orgão Julgador ({{filteredOrgaos.length}})</mat-label>
              <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="selectedOrgao" (input)="filterOrgaos()">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOrgaoChange($event.option.value)">
                <mat-option [value]="orgao.ORG_JULGADOR" *ngFor="let orgao of filteredOrgaos">
                  {{ orgao.ORG_JULGADOR }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="button-container">
            <button mat-button (click)="clearSelections()">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-button (click)="saveSelections()">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="credits">
        <button mat-button color="primary" (click)="openCreditsDialog()">Equipe de Colaboração</button>
      </div>
    </div>
  </main>

  <main class="content-small-screen" *ngIf="isSmallScreen">
    <div class="menu-cards">
      <div class="small-card">
        <mat-icon>trending_up</mat-icon>
        <span>Metas e Indicadores</span>
      </div>
      <div class="small-card">
        <mat-icon>settings</mat-icon>
        <span>Gestão Processual</span>
      </div>
      <div class="small-card">
        <mat-icon>people</mat-icon>
        <span>Gestão de Pessoas</span>
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>&copy; 2024, Tribunal de Justiça do Piauí - Todos os direitos reservados.</p>
    <p>Desenvolvido pelo Laboratório de Inovação do TJPI</p>
  </footer>
</div>
