<div class="component">
  <div class="left-container">
    <div class="globe">
      <div class="col">
        <div class="image-wrapper">
          <img src="../../../assets/images/globe/barbatana.png" class="barbatana" alt="">
          <div class="overlay">
            <mat-icon>group</mat-icon>
            <h3>Estrutura de Pessoal</h3>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="../../../assets/images/globe/lateral.png" style="width: 610px" alt="">
          <div class="overlay">
            <mat-icon>bar_chart</mat-icon>
            <h3>Produtividade</h3>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="../../../assets/images/globe/barbatana.png" class="rotateY barbatana" alt="">
          <div class="overlay">
            <mat-icon>stars</mat-icon>
            <h3>Prêmios de Qualidade</h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="image-wrapper">
          <img src="../../../assets/images/globe/monte.png" style="width: 900px;" alt="">
          <div class="overlay">
            <mat-icon>attach_money</mat-icon>
            <h3>Orçamentos</h3>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="../../../assets/images/globe/meio.png" style="width: 930px; margin-left: -1rem;" alt="">
          <div class="overlay">
            <mat-icon>account_balance</mat-icon>
            <h3>Patrimônio</h3>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="../../../assets/images/globe/monte.png" style="width: 900px;" class="rotateY" alt="">
          <div class="overlay">
            <mat-icon>event_note</mat-icon>
            <h3>Plano de Gestão</h3>
          </div>
        </div>
      </div>
      <div class="col rotateX">
        <div class="image-wrapper">
          <img src="../../../assets/images/globe/barbatana.png" class="barbatana" alt="">
          <div class="overlay fix-rotate">
            <mat-icon>description</mat-icon>
            <h3>Contratos e Licitações</h3>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="../../../assets/images/globe/lateral.png" style="width: 610px" alt="">
          <div class="overlay fix-rotate">
            <mat-icon>build</mat-icon>
            <h3>Obras</h3>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="../../../assets/images/globe/barbatana.png" class="rotateY barbatana" alt="">
          <div class="overlay fix-rotate">
            <mat-icon>build</mat-icon>
            <h3>Obras</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-container">
    <div class="text-container">
      <p></p>
    </div>
  </div>
</div>
