<div class="page">
  <header class="header">
    <div class="main-logo-container">
      <img src="../../../assets/logos/tjpi.png" alt="Logo Unidata" class="logo">
      <div class="main-logo-text">
        <span class="text-1">Tribunal de Justiça do Piauí</span>
        <span class="text-2">Poder Judiciário do Estado do Piauí</span>
      </div>
    </div>

    <span class="page-name">
      Página de Teste
    </span>
  </header>

  <main>
    <section class="center">
      <div class="menu">
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <span class="material-symbols-outlined">
              home
            </span>
            <div class="name">
              Home 1
            </div>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <span class="material-symbols-outlined">
              home
            </span>
            <div class="name">
              Home 2
            </div>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <span class="material-symbols-outlined">
              home
            </span>
            <div class="name">
              Home 3
            </div>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <span class="material-symbols-outlined">
              home
            </span>
            <div class="name">
              Home 4
            </div>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <span class="material-symbols-outlined">
              home
            </span>
            <div class="name">
              Home 5
            </div>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <span class="material-symbols-outlined">
              home
            </span>
            <div class="name">
              Home 6
            </div>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <span class="material-symbols-outlined">
              home
            </span>
            <div class="name">
              Home 7
            </div>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <span class="material-symbols-outlined">
              home
            </span>
            <div class="name">
              Home 8
            </div>
          </div>
        </a>
      </div>
    </section>

    <section class="center">

    </section>
  </main>

  <footer class="footer">
    <p>&copy; 2024, Tribunal de Justiça do Piauí - Todos os direitos reservados.</p>
    <p>Desenvolvido pelo Laboratório de Inovação do TJPI</p>
  </footer>
</div>
