.page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #F2F6FC;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #184364;
  padding: 1rem 1.5rem;
  height: 4.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .main-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    img {
      max-height: 4rem;
      height: auto;
    }

    .main-logo-text {
      display: flex;
      flex-direction: column;
      color: #ffffff;

      .text-1 {
        font-weight: 700;
        font-size: 2vh;
      }
      .text-2 {
        font-size: 1.5vh;
      }
    }
  }

  .page-name {
    font-size: 2vh;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
  }
}

main {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;

  .menu {
    width: 80%;
    max-width: 750px;
    height: auto;
    aspect-ratio: 1 / 1;
    position: relative;
    background: #357abd;
    border-radius: 50%;
    border: .25rem solid rgb(255, 255, 255);
    overflow: hidden;
  }
  .menu a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
  }

  .menu a .item {
    // width of item = height of item = margim = width of the menu/2
    width: 20vw;
    height: 20vw;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: -20vw;
    // [rectangle] 90º + skew(x) = 360/(nºitens)
    transform: rotate(-45deg) skew(-45deg);
    transform-origin: 0 100%;
  }

  // Increment angle = 360/(nºitens)
  .menu a:nth-child(2) .item {
    transform: rotate(0deg) skew(-45deg);
  }
  .menu a:nth-child(3) .item {
    transform: rotate(45deg) skew(-45deg);
  }
  .menu a:nth-child(4) .item {
    transform: rotate(90deg) skew(-45deg);
  }
  .menu a:nth-child(5) .item {
    transform: rotate(135deg) skew(-45deg);
  }
  .menu a:nth-child(6) .item {
    transform: rotate(180deg) skew(-45deg);
  }
  .menu a:nth-child(7) .item {
    transform: rotate(225deg) skew(-45deg);
  }
  .menu a:nth-child(8) .item {
    transform: rotate(270deg) skew(-45deg);
  }

  .menu a .option {
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 6vw;
    height: auto;
    aspect-ratio: 5 / 3;
    // Posiciona o ícone no centro do menu.
    top: calc(50% - 2vw);
    left: calc(50% - 3vw);
    // Direciona e move o ícone para o setor correspondentes.
    transform: rotateZ(22.5deg) translateY(-14vw) rotateZ(-22.5deg);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    z-index: 1;
  }

  .menu a .option mat-icon {
    width: 2.5vw;
    height: auto;
    aspect-ratio: 1 / 1;
    font-size: 2.5vw;
    margin: 0 !important;
    padding: 0 !important;
  }
  .menu a .option .name {
    font-size: 1vw;
  }

  .menu a:nth-child(2) .option {
    transform: rotateZ(67.5deg) translateY(-14vw) rotateZ(-67.5deg);
  }
  .menu a:nth-child(3) .option {
    transform: rotateZ(112.5deg) translateY(-14vw) rotateZ(-112.5deg);
  }
  .menu a:nth-child(4) .option {
    transform: rotateZ(157.5deg) translateY(-14vw) rotateZ(-157.5deg);
  }
  .menu a:nth-child(5) .option {
    transform: rotateZ(202.5deg) translateY(-14vw) rotateZ(-202.5deg);
  }
  .menu a:nth-child(6) .option {
    transform: rotateZ(247.5deg) translateY(-14vw) rotateZ(-247.5deg);
  }
  .menu a:nth-child(7) .option {
    transform: rotateZ(292.5deg) translateY(-14vw) rotateZ(-292.5deg);
  }
  .menu a:nth-child(8) .option {
    transform: rotateZ(337.5deg) translateY(-14vw) rotateZ(-337.5deg);
  }

  .menu a:hover .item {
    background: white;
  }

  .menu a:hover .option {
    color: #357abd !important;
  }
  .menu a:hover .option mat-icon {
    color: #357abd !important;

  }

  // .menu::before {
  //   position: absolute;
  //   content: "menu";
  //   font-family: Arial, Helvetica, sans-serif;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   width: 70px;
  //   height: 70px;
  //   background: white;
  // }
}

.center {
  border: 1px solid blue;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4rem;
  background-color: #184364;
  color: #fafafa;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  box-shadow: 0 -0.3rem 1rem rgba(0, 0, 0, 0.2);
}

mat-icon {
  transition: transform 0.5s ease;
  color: #fafafa;
  width: 1.8vw;
  height: auto;
  font-size: 1.8vw;
  margin-bottom: 0.5rem;
}

@import "../../styles/responsive.component.scss";
@import "../../styles/responsive-landscape.component.scss";
@import "../../styles/small-screen.component.scss";
