<div class="page">
  <header class="header">
    <div class="main-logo-container">
      <img src="../../../assets/logos/tjpi.png" alt="Logo Unidata" class="logo">
      <div class="main-logo-text">
        <span class="text-1">Tribunal de Justiça do Piauí</span>
        <span class="text-2">Poder Judiciário do Estado do Piauí</span>
      </div>
    </div>

    <span class="page-name">
      Página de Teste
    </span>
  </header>

  <main>
    <section class="center">
      <div class="menu">
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <mat-icon>
              group
            </mat-icon>
            <span class="name">
              Section 01
            </span>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <mat-icon>trending_up</mat-icon>
            <span class="name">
              Section 02
            </span>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <mat-icon>grade</mat-icon>
            <span class="name">
              Section 03
            </span>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <mat-icon>attach_money</mat-icon>
            <span class="name">
              Section 04
            </span>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <mat-icon>account_balance</mat-icon>
            <span class="name">
              Section 05
            </span>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <mat-icon>assignment</mat-icon>
            <span class="name">
              Section 06
            </span>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <mat-icon>gavel</mat-icon>
            <span class="name">
              Section 07
            </span>
          </div>
        </a>
        <a href="#">
          <div class="item"></div>
          <div class="option">
            <mat-icon>build</mat-icon>
            <span class="name">
              Section 08
            </span>
          </div>
        </a>
      </div>
    </section>

    <section class="center">

    </section>
  </main>

  <footer class="footer">
    <p>&copy; 2024, Tribunal de Justiça do Piauí - Todos os direitos reservados.</p>
    <p>Desenvolvido pelo Laboratório de Inovação do TJPI</p>
  </footer>
</div>
