.page {
  height: 100%;
  margin: 0;
  padding: 0;

  .logo-container {
    height: 4rem;
    display: flex;
    background-color: #ffffff;

    img {
      max-height: 4rem;
    }
  }

  .page-content {
    display: flex;
    flex-direction: row;
    height: calc(100% - 8rem);

    .left-container {
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: #113e59;
      width: 50%;

      .honeycomb {
        display: flex;
        justify-content: center;
        align-items: center;
        --s: 200px; // Tamanho dos hexágonos
        --m: 10px;  // Margem entre hexágonos

        .honeycomb-container {
          font-size: 0;
          display: flex;
          flex-direction: column;
          align-items: center;

          // Primeira e Terceira linhas - 3 hexágonos
          .row-1,
          .row-3 {
            display: flex;
            justify-content: center;

            div {
              width: var(--s);
              height: calc(var(--s) * 1.1547); // Altura proporcional
              margin: var(--m);
              display: inline-block;
              clip-path: polygon(
                0% 25%,
                0% 75%,
                50% 100%,
                100% 75%,
                100% 25%,
                50% 0%
              );
              background-color: #73bcd9;
              transition: transform 0.3s ease, background-color 0.3s ease;

              &:hover {
                transform: scale(1.05);
                background-color: #4ca1c3;
                cursor: pointer;
              }

              // Estilizando os ícones e os títulos dentro dos hexágonos
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: white;

              mat-icon {
                font-size: 3rem;
                width: 3rem;
                height: 3rem;
                margin-bottom: 0.4rem;
              }

              p {
                margin: 0;
                font-size: 1.1rem;
                font-weight: bold;
                width: 90%;
              }
            }
          }

          // Controlar a distância entre as linhas.
          .row-1 {
            margin-bottom: -50px;
          }

          .row-3 {
            margin-top: -50px;
          }

          // Segunda linha - 2 hexágonos deslocados à esquerda
          .row-2 {
            display: flex;
            justify-content: flex-start; // Alinha à esquerda
            transform: translateX(calc(var(--s) + var(--m)) / 4);

            div {
              width: var(--s);
              height: calc(var(--s) * 1.1547);
              margin: var(--m);
              display: inline-block;
              clip-path: polygon(
                0% 25%,
                0% 75%,
                50% 100%,
                100% 75%,
                100% 25%,
                50% 0%
              );
              background-color: #73bcd9;

              &:hover {
                transform: scale(1.05);
                background-color: #4ca1c3;
                cursor: pointer;
              }

              // Estilizando os ícones e os títulos dentro dos hexágonos
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: white;

              mat-icon {
                font-size: 3rem;
                width: 3rem;
                height: 3rem;
                margin-bottom: 0.4rem;
              }

              p {
                margin: 0;
                font-size: 1.1rem;
                font-weight: bold;
                width: 85%;
              }
            }
          }
        }
      }
    }

    .right-container {
      background-color: #113e59;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .text-container {
        display: flex;
        flex-direction: column;
        background-color: #f1f1f1;
        border-radius: .625rem;
        padding: 3rem;
        width: 70%;
        height: 70%;
        margin-bottom: 2rem;

        h1 {
          margin-bottom: 1rem;
          color: #113e59;
        }

        p {
          margin: 0;
          font-size: 1.15rem;
          font-weight: 400;
          line-height: 2rem;
          text-align: justify;
        }

      }

      .links-container {
        width: 70%;
        height: 20%;
        border: .2rem solid #f1f1f1;
        border-radius: .625rem;
        padding: 1rem;

        h2 {
          color: #f1f1f1;
        }

        .button-container {
          margin-top: 2rem;
          display: flex;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-radius: 1rem;

          gap: 1rem;


          button {
            width: 50%;
            height: 3.5rem;
          }
        }
      }

    }
  }

  .footer {
    height: 2rem;
    width: 100%;
  }
}
